.catalogue {
  flex-grow: 1;
}
.navCategories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
